.homePage {
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
}

.welcome1 {
    font-size: 80px;
    color: rgb(255, 255, 255);
}

.welcome2 {
    font-size: 80px;
    color: rgb(220, 198, 255);
}

.background {
    width: 100%;
    min-height:100vh;
    background-size: cover; 
    background-size: cover;     background-image: linear-gradient(to bottom right, #9d46ff, #4b23ff);
}